/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 sep. 2023, 18:00:38
    Author     : jose_waldo
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    font-family: "system-ui";
    position: relative;
    height: 100vh;
    color: #212121;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.container_languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.section_register {
    padding: 2rem 0;
    width: 80%;
    margin: 1rem auto;
    border-top: 1px solid #212121;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.register_link {
    padding: 0.4rem 2rem;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1rem;
    margin: 0 1rem;
    font-weight: 500;
    border: 1.5px solid #212121;
    transition: all 300ms ease-in-out;
}

.register_link:hover {
    background-color: #fff;
    color: #212121;
}

.btnLang {
    border: 2px solid #c53e3e;
    color: #c53e3e;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    font-weight: bold;
    margin: 0 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btnLang--eng {
    border: 2px solid #3e4dc5;
    color: #3e4dc5;

}

/*------ FOOTER STYLES ------*/

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    width: 100%;
    background-color: #c7c7c7;
    bottom: 0;
    left: 0;
}

.footer__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-weight: 500;
}
